@model string[]


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <table>
        <tr>
            <td style="display: inline-block;padding:0;padding-bottom: 15px;margin-top: 30px;font-family:'Segoe UI Semibold','Segoe UI Bold','Segoe UI','Helvetica Neue Medium',Arial,sans-serif;font-size:17px;color:#707070">
                PROVINCE OF AGUSAN DEL SUR
            </td>
        </tr>
        <tr>
            <td style="padding: 40px; padding-bottom: 15px; background: rgb(62 151 243); min-width: 332px; max-width: 600px; border: 1px solid rgb(62 151 243); border-top-left-radius: 3px; border-top-right-radius: 3px; ">
                <div style="padding:0;font-family: Roboto-Regular,Helvetica,Arial,sans-serif;font-size:20px;color:#fff;font-weight: 800;">Digital Signature</div>
            </td>
        </tr>
        <tr>
            <td style='padding: 40px 100px 40px 40px;min-width: 332px;max-width: 600px;border: 1px solid #f0f0f0;border-bottom: 1px solid #c0c0c0;border-top: 0;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;'>
                <table>
                    <tr>
                        <td style="padding:0;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a">
                            Good Day @Model[1]. A @Model[5] document is waiting for your signature on the "Dgsign App". 
                        </td>
                    </tr>
                    @*<tr>
                        <td style="padding: 15px 0 0 0;font-family: 'Segoe UI',Tahoma,Verdana,Arial,sans-serif; font-size: 14px; color: #2a2a2a">
                            <table>
                                <tr>
                                    <td style="font-family: 'Segoe UI Bold','Segoe UI Semibold','Segoe UI','Helvetica Neue Medium',Arial,sans-serif; font-size: 19px; font-weight: bold; color: #2a2a2a; padding: 8px 13px 10px 13px; background: #194991; color: #fff; border-radius: 4px;">
                                        @Model[0]
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>*@
                    @*<tr>
                        <td style="padding:0;padding-top: 15px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a">
                            Please do not share this information to avoid fraudulent activities.
                        </td>
                    </tr>*@
                    <tr>
                        <td style="padding:0;padding-top: 15px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a">
                            This is a system-generated message. Do not reply.
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0;padding-top: 15px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a">
                            Regards,
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0;padding-top: 0px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a">
                            PROVINCE OF AGUSAN DEL SUR
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
