<div style="margin-top: 8px;margin-left: 5px;">
    <img src="~/Content/images/page_not_available_sprite.png" style="margin-top:10px;margin-bottom:30px;"/>
    <h2 style="margin-bottom:10px;">This webpage is not available</h2>
    <p style="color: gray;">
        Your account is not authorized to access the page. Please contact your administrator for more information.
    </p>
</div>