.k-header.k-grid-toolbar.k-grid-top {
    background-color: #54625E !important;
/*background-color: #FF3939 !important;*/
    text-align: right;
}
.grid {
    border-color: #bbb;
    font-size: 30px;
    max-width: 850px;
    margin: 50px;
    
    -moz-box-shadow: 0px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.05);
}


.k-state-selected td { 
    
    color: #ffffff !important;
    background: #02a771; 
    
}

.responsive > .k-grid-content {
height: 100% !important;
overflow-y: hidden !important;
}
.responsive > .k-grid-content > table {
width: 100% !important;
}
.responsive > .k-grid-header table {
width: 100% !important;
}
.responsive > .k-grid-header > .k-grid-header-wrap {
padding-right: 1px;
}
.responsive .k-grid-content-locked {
height: 100% !important;
}
        .button-SHIT {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 50px !important;
    }
    textarea {
        resize: none;
    }