
<h2>DataPPMP Grid</h2>
<script>
    function PPMP_dataParam() {
        var year = 2017;
        var officeid = 72;
        var programid = 4;
        var accountid = 969;
        return {
            year: 2017,
            officeid: 72,
            programid: 4,
            accountid: 969
        }
    }
</script>
@(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.ppmp>()
    .Name("grPPMP")
    .Columns(col =>
    {
        col.Bound(m => m.itemname).Title("Item Name");
        col.Bound(m => m.unit).Title("Unit");
        col.Bound(m => m.unitcost).Title("Unit Cost");
        col.Bound(m => m.qty1).Title("qty1");
        col.Bound(m => m.qty2).Title("qty2");
        col.Bound(m => m.qty3).Title("qty3");
        col.Bound(m => m.qty4).Title("qty4");
        col.Bound(m => m.amount).Title("Amount");
    })
    .Pageable(page => page.Refresh(true)
    .Enabled(true)
    .ButtonCount(4)
    .PreviousNext(true))
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .DataSource(d => d
    .Ajax()
    .PageSize(10)
    .Model(m => m.Id(i => i.itemname))
    .Read(read => read.Action("PPMP_DataTable", "PPMP").Data("PPMP_dataParam")))
)