@model iFMIS_BMS.BusinessLayer.Models.OthersModel

<script>




    function reqSave() {
        var notifi = new $("#popupNotification").data("kendoNotification");

        var url = "@Url.Action("UpdateOthers", "Report")";
        var other_id = $('#other_id').val()
        var other_name = $('#other_name').val()
        var other_Amount = $('#other_Amount').val()
        var Year = $("#ddlYear").val()
        $.post(url, { other_id: other_id, other_name: other_name, other_Amount: other_Amount, Year: Year }, function (d) {

                $('#addeditothers').data('kendoWindow').close();
                $('#OthersGrid').data('kendoGrid').dataSource.read();

        })
    }

</script>



@Html.HiddenFor(m => m.other_id)
<label>Others Name :</label>
<input type="text" class="k-textbox" style="width: 310px;" id="other_name" name="other_name" value="@Model.other_name" />

<label>Amount :</label>
<input type="text" class="k-textbox" style="width: 310px;" id="other_Amount" name="other_Amount" value="@Model.other_Amount" />

<div class="k-button k-button-icontext" style="position: absolute; bottom: 15px; right: 20px;width: 80px;" onclick="reqSave()">Save</div>

