<script>
    function SumbitFS() {
        var FSName = document.getElementById("FSName").value;
        var OrderBy = $("#orderBy").val();
        var url = "@Url.Action("SaveFS", "Maintenance")";
        $.post(url, { FSName: FSName, OrderBy: OrderBy }, function (e) {
            if (e == "success") {

                $('#FSName').val('');
                $('#orderBy').data('kendoComboBox').value('');
                swal({
                    title: "Success",
                    text: "FS has been added!",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });

                $("#grFS").data("kendoGrid").dataSource.read();
            } else {
                swal({
                    title: "Error",
                    text: "FS has NOT been added!",
                    type: "error",
                    timer: 2000,
                    showConfirmButton: false
                });
            }

        });
    }

    function onCloseWindowFS() {
        $("#windowAddFS").data("kendoWindow").close();
        if ($("#FSSizeIndicator").val() == 0) {
            document.documentElement.style.overflow = 'auto';  // firefox, chrome
            document.body.scroll = "yes";
            $(window).scrollTop(CurrentScrollPosition);
        }
    }
</script>
<div style="margin-top:5px;margin-left:5px;">
    <label>FS Description</label>
    <textarea name="FSName" id="FSName" style="width:97%;height:70px"></textarea>
    @*<input type="text" name="FSName" id="FSName" style="width:100%" />*@
</div>
<div style="margin-top:5px;margin-left:5px;">
    <label>Order By</label>
    @(Html.Kendo().ComboBox()
                  .Name("orderBy")
                  .Filter("contains")
                  .MinLength(1)
                  .Placeholder("Select order by")
                  .DataTextField("x")
                  .DataValueField("x")
                  .HtmlAttributes(new { @style = "height:110%;" })
                  .DataSource(source => source.Read(read => read.Action("ddlOrderby", "Dropdowns")).ServerFiltering(false))
    )
</div>
<div style="margin-top:5px;float:right;margin-right:5px;">
    <div class="k-button k-state-active" onclick="SumbitFS()"><i class="fa fa-plus"></i> Submit New FS</div> <div class="k-button" id="FSClose" onclick="onCloseWindowFS()"><i class="fa fa-close"></i> Close</div>
</div>