<style>
.dialog-overlay {
  background-color:#000000;
  opacity:0.4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: 1049;
}
.dialog {
  position: fixed;
  display: block;
  width: 500px;
  height: 300px;
  float: left;
  background-color: #ffffff;
  color: #1d1d1d;
  z-index: 1050;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.dialog .dialog-close-button {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: normal;
  padding: .125rem 0 .625rem 0;
  z-index: 3;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #777777;
  top: .25rem;
  right: .25rem;
}
.dialog .dialog-close-button:hover {
  background-color: #cde6f7;
  color: #2a8dd4;
}
.dialog .dialog-close-button:hover:after {
  border-color: #2a8dd4;
}
.dialog .dialog-close-button:active {
  background-color: #92c0e0;
  color: #ffffff;
}
.dialog .dialog-close-button:after {
  border-color: #777777;
  content: '\D7';
  line-height: 1;
}
</style>

<div data-role="dialog" data-overlay="true" data-close-button="true" data-width="350px" data-height="150px" id="dialog" class="dialog">
    <div>
        <h2 style="text-shadow:none;padding-left:20px;padding-top:30px;">Please wait. . . <i class="fa fa-refresh fa-spin fa-3x" style="font-size:30px;"></i> </h2> 
    </div>
</div>
<script>
    function showDialog(id) {
        var dialog = $(id).data('dialog');
        dialog.open();
    }
</script>
<script>
    function reqSave(id) {
        
        //notifi.hide();
        
        
        var textBoxOffice = document.getElementById("text_office_id").value;
      
        //if (textBoxOffice == null || textBoxOffice == "") {
        //    swal("Error!", "Please choose Office", "error")
        //} else {

        swal({
            title: "Do you want to copy program and accounts?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false,
            showLoaderOnConfirm: true
        },function () {
            var dialog = $(id).data('dialog');
            dialog.open();

            var url = "@Url.Action("CopyProgramAccount", "Maintenance")";        
            var frmData = $('#formProgram').serialize();
            $.post(url, frmData, function (d) {
                if (d == "1") {
                    dialog.close();
                    swal("Success", "", "success")
                } else{
                    dialog.close();
                    swal("Error!", d, "error")
                } 
            })
        })
    }
</script>
<form id="formProgram" method="post">
    
    <div style="margin-top:20px;width:100%;float:left;">
        <h2>Year of Transaction</h2>
        <label style="margin-top:10px;">Copy Transaction Program and Accounts</label>
        <div style="margin-top:20px;display:none">
            <label>FMIS Office</label>
            <script>
                function onSelectOfficeID() {
                    var get_office_id = $("#office_id").val();
                    document.getElementById("text_office_id").value = get_office_id;
                    
                }

                
            </script>
            <script>
                
                function onCheck() {
                    if (document.getElementById("cbAllOffice").checked == true) {
                        document.getElementById("text_office_id").value = 0;
                        $("#office_id").data("kendoComboBox").value("");
                    }
                }
            </script>

            @(Html.Kendo().ComboBox()
                                    .Name("office_id")
                                    .DataTextField("office_name")
                                    .Filter("contains")
                                    .MinLength(2)
                                    .Placeholder("Select Office . .")
                                    .Events(e => e.Select("onChange"))
                                    .DataValueField("office_id")
                                            .HtmlAttributes(new { @style = "width: 80%;" }).Events(e =>
                                                            {
                                                                e.Change("onSelectOfficeID");
                                                            })
                                    .DataSource(source => { source.Read(read => { read.Action("ddlOffice", "Dropdowns"); }); })

            )
            <script>
                function onChange() {
                    document.getElementById("cbAllOffice").checked = false;
                }
            </script>
            
        </div>
        <div style="margin-top:10px;display:none">
            
            <input type="checkbox" id="cbAllOffice" name="cbAllOffice" class="k-checkbox" onclick="onCheck()" value="0"/> <label class="k-checkbox-label" for="cbAllOffice" style="font-style:normal;font-weight:100;">All Offices</label>
           
        </div>
        <input type="text" name="text_office_id" id="text_office_id" value="" hidden="hidden"/>
        <script>
            function startChange() {
                var endPicker = $("#datepickerTO").data("kendoDatePicker"),
                    startDate = this.value();

                if (startDate) {
                    startDate = new Date(startDate);
                    startDate.setDate(startDate.getDate() + 1);
                    endPicker.min(startDate);
                }
            }

            function endChange() {
                var startPicker = $("#datepickerFROM").data("kendoDatePicker"),
                    endDate = this.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate() - 1);
                    startPicker.max(endDate);
                }
            }
        </script>

        <div style="float:left;margin-top:20px;">
            <label>FROM : </label>
            <input id="datepickerFROM" name="datepickerFROM" />
            <script>
                 $("#datepickerFROM").kendoDatePicker({
                    depth: "decade",
                    start: "decade",
                    format: "yyyy",
                    footer: false,
                    change: startChange,
                    value: new Date()
                });
            </script>
        </div>
        <div style="float:left;margin-left:20px;margin-top:20px;">
            <label>TO : </label>
            
            <input id="datepickerTO" name="datepickerTO" />
            <script>
                var sDate = new Date();
                var vDate = sDate.getFullYear() + 1;
                document.getElementById("datepickerTO").value = vDate;
            </script>

            <script>                 
                $("#datepickerTO").kendoDatePicker({
                    depth: "decade",
                    start: "decade",
                    format: "yyyy",
                    footer: false,
                    change: endChange
                    
                });
            </script>
        </div>
    </div>
    
</form>
<div class="k-button k-button-icontext" onclick="reqSave('#dialog')" style="padding:5px;float:left;margin-top:30px;border-radius:5px;background-color:cornflowerblue;color:white"><span id="button-status">Copy Program Account</span></div>
<script>
    $(document).ready(function () {
        var url = "@Url.Action("CheckUserStatus", "Maintenance")";
        var checkData = "CheckUser";
        $.post(url, checkData, function (d) {
            if (d != 0) {
                // alert(d);
                $("#office_id").data("kendoComboBox").value(d);
                document.getElementById("text_office_id").value = d;
                //$("#grd_ApprovedBudget").data("kendoGrid").dataSource.read();
                //document.getElementById("office_id").disabled;
                $("#office_id").data("kendoComboBox").enable(false);
            }
        })

        
    });
</script>

