

<h2>Email</h2>

<!-- <script>
    function sendReportEmail() {
        var url = "@Url.Action("SendEmail", "Test")";
        $.get(url, function (d) {
            if (d == "success") {
                alert("Email Sent!");
            }
        })
    }
</script> -->

<button class="k-button"> Send Email! </button>